#home {
    background: #ffc107;
}

.nav-link.active {
  color: #212529;            /* cinza bem escuro (quase preto) */
  background-color: #ffda6a; /* amarelo mais claro que o fundo */
  border-radius: 6px;
}

.caixa {
  padding: 60px 0;
  border-bottom: #e5e5e5;
}



#caixa-login{
 padding: 60px;
  background: white;
  align-items: center;
  border-radius: 12px;
}

.letra-bonita h3{
   font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.caixa-benefico{
  border-radius: 15px;
  background: rgb(222, 205, 205);
  justify-content: center;
}

.borda-bonita{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-shadow: -4px 6px 12px rgba(0, 0, 0, 0.15);
}



.caixa-de-precos{
  background: white;
  border-radius: 6px;
  height: 100%;
}

.fundo{
  background: #ffc107;
  height: 700px;
}